StackLayout {

}

Image {
  margin-top: 5;
  margin-bottom: 20;
}

.btn-circ {
  display: block;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 1px solid red;
}

Button {
  margin-left: 40;
  margin-right: 40;
  margin-bottom: 10;
  margin-top: 10;
  border-radius: 5px;
  height: 40;
  color:white;
  border-width:0;
}

TextField {
  margin-left: 40;
  margin-right: 40;
  margin-bottom: 10;
  margin-top: 10;
  border-radius: 5px;
  height: 40;
  border-width:1;
  border-color: rgba(255,255,255, 0.4);
  background-color: white;
}

.valid{
  border-color: rgb(225, 255, 225);
  background-color: rgb(245, 255, 245);
}

.error{
  border-color: rgb(255, 225, 225);
  background-color: rgb(255, 240, 240);
}

.my-btn-primary{
  color: white;
  background-color: #67c581;
}

.my-btn-minor{
  margin-left:0;
  margin-right:0;
  margin-bottom:0;
  background-color: rgba(255,255,255, 0.5);
  color: #848484;
  height:50;
}

.my-background{
  background-color: #f1f1f1;
}

/*.login-panel{*/
  /*background-color: rgba(255,255,255, 0.2);*/
  /*border-radius: 5px;*/
  /*margin: 10 20;*/
  /*border-width: 1px;*/
  /*border-color: rgba(255,255,255, 0.4);*/
/*}*/

.forgot-password-label{
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
  color: #848484;
}

.error-message{
  height: 20px;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  margin: 10px;
  color: rgba(170,0,0,0.6);
}
