<GridLayout #formControls [formGroup]="registerForm" class="my-background">
    <StackLayout verticalAlignment="center" class="login-panel">
        <TextField formControlName="email" hint="Email Address" keyboardType="email" [(ngModel)]="carer.email"
                   autocorrect="false" autocapitalizationType="none"></TextField>
        <TextField formControlName="firstName" required *ngIf="!isLoggingIn" hint="First Name" [(ngModel)]="carer.firstname"
                   autocorrect="false" autocapitalizationType="words"></TextField>
        <TextField formControlName="lastName" required *ngIf="!isLoggingIn" hint="Last Name" [(ngModel)]="carer.lastname"
                   autocorrect="false" autocapitalizationType="words"></TextField>
        <TextField formControlName="dateOfBirth" required *ngIf="!isLoggingIn" id="textFieldBDate" hint="Date Of Birth" [text]='birthDate | date:"MM/dd/yy"' (tap)="showDatePicker()"
                   row="29" col="1" returnKeyType="done"></TextField>
        <StackLayout [visibility]="isDatePickerVisible ? 'visible' : 'collapsed'" row="0" col="0">
            <DatePicker class="m-15" id="datePicker" #dp [visibility]="isDateButtonVisible ? 'visible' : 'collapsed'"></DatePicker>
            <Button class="btn my-btn-primary btn-active" text="Select" (tap)="enterDate()" [visibility]="isDateButtonVisible ? 'visible' : 'collapsed'"></Button>
        </StackLayout>
        <TextField formControlName="password" required hint="Password" secure="true" [(ngModel)]="carer.password"></TextField>
        <TextField formControlName="confirmPassword" required *ngIf="!isLoggingIn" hint="Confirm Password" secure="true" [(ngModel)]="carer.confirm_password"></TextField>

    </StackLayout>
    <StackLayout [visibility]="isDatePickerVisible ? 'collapsed' : 'visible'" verticalAlignment="bottom">
        <Button [text]="isLoggingIn ? 'Sign in' : 'Register'" class="my-btn-primary" (tap)="submit()" ></Button>
        <Button [text]="isLoggingIn ? 'Create an Account' : 'Back to login'" (tap)="toggleDisplay()" style="margin-top:20px" class="my-btn-minor" ></Button>
    </StackLayout>
</GridLayout>