StackLayout {

}
Image {
  margin-top: 5;
  margin-bottom: 20;
}
Button, TextField {
  margin-left: 20;
  margin-right: 20;
  margin-bottom: 5;
  margin-top: 5;
  border-radius: 5px;
  height: 40;
  color:white;
}
.my-btn-primary{
  color: white;
  background-color: #ff9966;
}

.my-btn-minor{
  margin-left:0;
  margin-right:0;
  margin-bottom:0;
  background-color: rgba(255,255,255, 0.2);
  color:white;
  height:50;
}

.my-background{
  background-image: url('~/images/background.png');
  background-size: cover;
}

.login-panel{
  background-color: rgba(255,255,255, 0.2);
  border-radius: 5px;
  margin: 10 20;
  border-width: 1px;
  border-color: rgba(255,255,255, 0.4);
}
