<GridLayout rows="60, *" columns="*">
    <ActionBar>
        <Label style="text-align: center" *ngIf="carerService.selectedPatient != null" text="{{carerService.selectedPatient.firstName}} {{carerService.selectedPatient.lastName}}"></Label>
    </ActionBar>
    <FlexboxLayout row="0" flexDirection="row">
        <Button flexGrow="1" class="icon" [ngClass]="{'icon-selected': tab == 'Home'}" margin="0" text="&#xf015;" (tap)="goHome()"></Button>
        <Button flexGrow="1" class="icon" [ngClass]="{'icon-selected': tab == 'Information'}" margin="0" text="&#xf05a;" (tap)="goInformation()"></Button>
        <Button flexGrow="1" class="icon" [ngClass]="{'icon-selected': tab == 'My Recordings'}" margin="0" text="&#xf0ae;" (tap)="goRecordingsList()"></Button>
        <Button flexGrow="1" class="icon" [ngClass]="{'icon-selected': tab == 'Settings'}" margin="0" text="&#xf013;" (tap)="goSettings()"></Button>
    </FlexboxLayout>
    <GridLayout row="1" [ngSwitch]="tab" flexGrow="1">
        <GridLayout *ngSwitchCase="'Home'" backgroundColor="#f5f5f5">
            <StackLayout>
                <StackLayout style="margin-top: 5">
                    <Button class="label menu-button" text="Record Speech" (tap)="navigateToRecord()"></Button>
                    <Button class="labels menu-button" text="Take Photo"></Button>
                </StackLayout>
            </StackLayout>
        </GridLayout>
        <GridLayout *ngSwitchCase="'Information'" backgroundColor="#f5f5f5">
            <!--<information></information>-->
            <photo></photo>
        </GridLayout>
        <GridLayout *ngSwitchCase="'My Recordings'" backgroundColor="#f5f5f5">
            <recordings-list></recordings-list>
        </GridLayout>
        <GridLayout *ngSwitchCase="'Settings'" backgroundColor="#f5f5f5">
            <settings   [listOfPatients]="carerService.patients"
                        [selectedPatient]="carerService.selectedPatient"
                        (onSelectingNewPatient)="onSelectingNewPatient($event)"></settings>

        </GridLayout>
        <GridLayout *ngSwitchDefault backgroundColor="#f5f5f5"></GridLayout>
    </GridLayout>
    <!--<GridLayout row="2" columns="*,*,*,*,*">-->
        <!--<Button col="0" width="70" height="60" class="icon" margin="0" text="&#xf1f8;"></Button>-->
        <!--<Button col="1" width="70" height="60" class="icon" margin="0" text="&#xf0c7;"></Button>-->
        <!--<Button col="2"-->
                <!--*ngIf="!isRecording"-->
                <!--(tap)="startRecording()"-->
                <!--class="icon"-->
                <!--margin="0"-->
                <!--width="58"-->
                <!--height="58"-->
                <!--style="border-radius: 29;background-color: #67c581;color:white"-->
                <!--text="&#xf130;"></Button>-->
        <!--<Button col="2"-->
                <!--*ngIf="isRecording"-->
                <!--(tap)="stopRecording()"-->
                <!--class="icon"-->
                <!--margin="0"-->
                <!--width="58"-->
                <!--height="58"-->
                <!--style="border-radius: 29;background-color: #67c581;color:white"-->
                <!--text="&#xf04c;"></Button>-->
        <!--<Label col="3"-->
               <!--class="icon"-->
               <!--width="60"-->
               <!--height="60"-->
               <!--margin="0"-->
               <!--style="font-size: 20"-->
               <!--text="{{ duration | durationPipe }}"></Label>-->
        <!--<Button col="4"-->
                <!--class="icon"-->
                <!--margin="0"-->
                <!--width="70"-->
                <!--height="60"-->
                <!--text="&#xf093;"-->
                <!--(tap)="uploadAudio()"></Button>-->
    <!--</GridLayout>-->
</GridLayout>
