<div class="app-logo">
    <img class="ui logo image"style="width:205px;height:auto;margin-bottom:20px" src="/assets/images/dementia1.png">
</div>

<div class="ui icon input search-bar">
    <input type="text" placeholder="Search...">
    <i class="circular search link icon"></i>
</div>

<div class="avatar-box" style="border-radius: 5px;">
    <img class="ui avatar image" style="width:50px;height:50px;margin-left:10px;margin-top:5px" src="/assets/images/male-icon.jpg">
    <span *ngIf="loginService.user" style="color:white;vertical-align: middle; margin-left: 10px">{{loginService.user.firstName}} {{loginService.user.lastName}}</span>
</div>

<div class="ui link list" style="margin-top:15px">
    <a class="item menu-item" routerLink="/overview" routerLinkActive="active"><span style="margin:25px">Overview</span></a>
    <a class="item menu-item" routerLink="/patients" routerLinkActive="active"><span style="margin-left:25px">Patients</span></a>
    <a class="item menu-item" routerLink="/tests" routerLinkActive="active"><span style="margin-left:25px">Tests</span></a>
    <br><br>
    <a class="item menu-item" (click)="loginService.logout()"><span style="margin-left:25px">Log out</span></a>
</div>
