<div id="overview-content">
    <h1 class="ui header">{{patient.firstName}} {{patient.lastName}}</h1>
    <div class="ui divider"></div>

    <lsu-tabset type="'pointing'">
        <lsu-tab [headerText]="'Completed Tests'" [active]="'true'">
            <br/>
            <div style="display:inline-block; width: 100%">
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="circular search link icon"></i>
                </div>
                <button class="ui icon button primary-button" style="float: right" (click)="refreshCompletedTests()">
                    <i class="refresh icon"></i>
                </button>
            </div>
            <table class="ui table">
                <thead>
                    <th>Date</th>
                    <th>Test Name</th>
                    <th>Description</th>
                    <th>Creator</th>
                    <th>Details</th>
                </thead>
                <tbody>
                    <tr *ngFor="let testResult of testResults">
                        <td>{{testResult.date | date: 'dd/MM/yyyy'}}</td>
                        <td>{{testResult.test.name}}</td>
                        <td>{{testResult.test.description}}</td>
                        <td>{{testResult.test.creator[0].firstName}} {{testResult.test.creator[0].lastName}}</td>
                        <td>
                            <button class="ui icon button secondary" (click)="openCompletedTestModal(testResult)">
                                <i class="tasks icon"></i>
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="loadingCompletedTests">
                        <td colspan="5" style="text-align: center">
                            <img style="width: 60px; margin: auto;" src="../../../assets/loaders/three-dots.svg" >
                        </td>
                    </tr>
                    <tr *ngIf="!loadingCompletedTests && (!testResults || testResults.length == 0)">
                        <td colspan="5">
                            <i class="icon info"></i>
                            This patient has not completed any tests
                        </td>
                    </tr>
                </tbody>
            </table>
        </lsu-tab>
        <lsu-tab [headerText]="'Assigned Tests'">
            <br/>
            <div style="display:inline-block; width: 100%">
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="circular search link icon"></i>
                </div>
                <button class="ui icon button primary-button" style="float: right" (click)="assignModal = true">
                    <i class="plus icon"></i>
                </button>
                <button class="ui icon button primary-button" style="float: right" (click)="refreshAssignedTests()">
                    <i class="refresh icon"></i>
                </button>
            </div>
            <table class="ui table">
                <thead>
                    <th>Name</th>
                    <th>Assigned by</th>
                    <th>Created by</th>
                </thead>
                <tbody>
                    <tr *ngFor="let test of patientTests">
                        <td>{{test.name}}</td>
                        <td>{{test.creator[0].firstName}} {{test.creator[0].lastName}}</td>
                        <td>{{test.creator[0].firstName}} {{test.creator[0].lastName}}</td>
                    </tr>
                    <tr *ngIf="loadingAssignedTests">
                        <td colspan="3" style="text-align: center">
                            <img style="width: 60px; margin: auto;" src="../../../assets/loaders/three-dots.svg" >
                        </td>
                    </tr>
                    <tr *ngIf="!loadingAssignedTests && (!patientTests || patientTests.length == 0)">
                        <td colspan="3">
                            <i class="icon info"></i>
                            This patient does not have any assigned tests
                        </td>
                    </tr>
                </tbody>
            </table>
        </lsu-tab>
        <lsu-tab [headerText]="'Patient Details'">
            <form class="ui form">
                <br>
                <div class="two fields">
                    <div class="field">
                        <label>First Name</label>
                        <input disabled type="text" id="first-name" [(ngModel)]="patient.firstName" name="first-name">
                    </div>
                    <div class="field">
                        <label>Last Name</label>
                        <input disabled type="text" id="last-name" [(ngModel)]="patient.lastName" name="last-name">
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Gender</label>
                        <input disabled type="text" [(ngModel)]="patient.gender" name="gender">
                    </div>
                    <div class="field">
                        <label>Date of Birth</label>
                        <input disabled type="text" [(ngModel)]="pipedDateOfBirth" name="dateOfBirth">
                    </div>
                </div>
                <div class="field">
                    <table>

                    </table>
                </div>
            </form>
        </lsu-tab>
    </lsu-tabset>

    <lsu-modal [(ngModel)]="completedTestModal" *ngIf="testResult != null">
        <div class="header">
            {{testResult.name}} Details ({{testResult.date | date: 'dd/MM/yyyy'}})
        </div>
        <div class="content">
            <table class="ui table">
                <thead>
                    <th>Section</th>
                    <th>Details</th>
                    <th>Result</th>
                </thead>
                <tbody>
                    <tr *ngFor="let section of testResult.test.components; let i = index;">
                        <td>{{i+1}}</td>
                        <td>{{section.instruction}} <div style="font-size: 0.8em;">{{section.content}}</div></td>
                        <td *ngIf="testResult.componentResults[i].type == 'audio'">
                            <div style="min-height: 100px;">
                                <img *ngIf="!testResult.componentResults[i].audioFile" style="width:50px;" src="../../../assets/loaders/three-dots.svg"/>
                                <div *ngIf="testResult.componentResults[i].audioFile">
                                    <h4>Recording</h4>
                                    <audio controls>
                                        <source [src]="testResult.componentResults[i].audioFile.url" type="audio/wav">
                                        Your browser does not support the audio element.
                                    </audio>
                                    <div style="margin-top:10px">
                                        <h4>Transcribed Text</h4>
                                        {{testResult.componentResults[i].transcribedString}}
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td *ngIf="testResult.componentResults[i].type == 'image'">
                            <div style="width:100px; height:200px;">
                                <img *ngIf="testResult.componentResults[i].imageFile" style="width:100px; height:200px;" [src]="testResult.componentResults[i].imageFile.url"/>
                            </div>
                        </td>
                        <td *ngIf="testResult.componentResults[i].type == 'question'">
                            TODO: show answer
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="actions">
            <div class="ui secondary deny button" (click)="closeCompletedTestModal()">
                Close
            </div>
        </div>
    </lsu-modal>

    <lsu-modal [(ngModel)]="assignModal" [options]="modalOptions">
        <div class="header">
            Choose a New Test
        </div>
        <div class="content">
            <table class="ui table">
                <thead>
                    <th>Test Name</th>
                    <th>Created by</th>
                    <th>Description</th>
                    <th>Add</th>
                </thead>
                <tbody>
                    <tr *ngFor="let test of userTests">
                        <td>{{test.name}}</td>
                        <td>{{test.creator[0].firstName}} {{test.creator[0].lastName}}</td>
                        <td>{{test.description}}</td>
                        <td>
                            <button class="ui icon button" (click)="addTest(test)">
                                <i class="plus icon"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="actions">
            <div class="ui secondary deny button" (click)="assignModal = false">
                Close
            </div>
        </div>
    </lsu-modal>
</div>
