<div>
    <h1 class="ui header">Patients</h1>
    <div class="ui divider"></div>
    <div style="display:inline-block; width: 100%">
        <div class="ui icon input">
            <input type="text" placeholder="Search...">
            <i class="circular search link icon"></i>
        </div>
        <button class="ui button primary-button" style="float:right" [disabled]="selectedPatient._id == null" [routerLink]="['/patient', selectedPatient._id]">View</button>
    </div>
    <table id="example" class="ui table" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Date of Birth</th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let patient of patientService.patients | async" (click)="selectPatient(patient)" [ngClass]="{'selected': patient == selectedPatient}" style="cursor:pointer">
            <td>{{patient.firstName}}</td>
            <td>{{patient.lastName}}</td>
            <td>{{patient.gender}}</td>
            <td>{{patient.dateOfBirth | date: 'dd/MM/yyyy' }}</td>
        </tr>
        </tbody>
    </table>
</div>
