<div class="container">
    <h1 class="ui header">Create A Test</h1>
    <div class="ui divider"></div>
    <br/>
    <div style="display: inline-block; margin-bottom: 20px;">
        <button class="ui labeled icon button"
                lsu-popup [trigger]="'hover'" [content]="'Add a question to your test.'"
                (click)="addQuestionAnswer()"
                style="margin-right: 25px;">
            <i class="question icon"></i>
            Question
        </button>
        <button class="ui labeled icon button"
                lsu-popup [trigger]="'hover'" [content]="'Add a drawable component to your test.'"
                (click)="addDrawing()"
                style="margin-right: 25px;">
            <i class="pencil icon"></i>
            Drawing
        </button>
        <button class="ui labeled icon button"
                lsu-popup [trigger]="'hover'" [content]="'Add a speech component to your test.'"
                (click)="addRecordSpeech()"
                style="margin-right: 25px;">
            <i class="microphone icon"></i>
            Record Audio
        </button>
    </div>
    <div style="width: 80%; display: inline-block;">
        <div *ngIf="saved && !error">
            <div class="ui success message">
                <div class="header">Test successfully created!</div>
            </div>
            <br>
        </div>
        <div *ngIf="error">
            <div class="ui error message">
                <div class="header">There was an error with saving your test. Try again later.</div>
            </div>
            <br>
        </div>
        <div>
            <h5 style="display: inline-block;">Click and drag to reorder your questions!</h5>
        </div>
        <div>
            <table class="ui table" style="margin-bottom: 20px; margin-top: 15px;">
                <thead>
                <th>Test Components</th>
                <th>Actions</th>
                </thead>
                <tbody dnd-sortable-container [sortableData]="testComponents">
                    <tr>
                        <td>
                            <form class="ui form">
                                <div class="field">
                                    <label>Test Name</label>
                                    <input type="text" id="testName" [(ngModel)]="testName" name="testName">
                                </div>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form class="ui form">
                                <div class="field">
                                    <label>Description</label>
                                    <input type="text" id="description" [(ngModel)]="description" name="description">
                                </div>
                            </form>
                        </td>
                    </tr>
                    <tr *ngFor="let item of testComponents; let i = index" dnd-sortable [sortableIndex]="i" style="padding: 15px;">
                        <td>
                            <form class="ui form">
                                {{i + 1}}. {{capitaliseFirstLetter(item.type)}} Component<br>
                                <div class="field">
                                    <label>Instruction</label>
                                    <input *ngIf="item.type === 'question'" placeholder="What is the date today?" type="text" required [(ngModel)]="item.instruction" name="instruction">
                                    <input *ngIf="item.type === 'image'" placeholder="Draw a clock" type="text" required [(ngModel)]="item.instruction" name="instruction">
                                    <input *ngIf="item.type === 'audio'" placeholder="Press record and read the text aloud" type="text" required [(ngModel)]="item.instruction" name="instruction">
                                    <label>Content</label>
                                    <textarea type="text" id="content" [(ngModel)]="item.content" name="content"></textarea>
                                </div>
                            </form>
                        </td>
                        <td>
                            <button class="ui icon button primary-button" style="display: inline-block"
                                    (click)="deleteComponent(i)">
                                <i class="trash icon"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button *ngIf="testComponents.length > 0" (click)="saveTest()" class="ui button">Save Test</button>
        </div>
    </div>
</div>
