<div class="container" *ngIf="!loginService.checkLogin()">
    <div class="login">
        <div class="ui segment padded" [ngClass]="{'loading': loading}" style="max-width:400px;margin:auto">
            <h2 class="ui dividing header" style="margin-bottom: 30px">Login</h2>
            <div class="ui message" [ngClass]="messageClass" *ngIf="message">
                <p>{{message}}</p>
            </div>
            <form class="ui form" (ngSubmit)="onSubmit()" [hidden]="loginService.checkLogin()">
                <div class="field" style="margin-bottom: 30px">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" placeholder="Email" [(ngModel)]="model.email" required />
                </div>
                <div class="field" style="margin-bottom: 50px">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Password" [(ngModel)]="model.password" required />
                </div>
                <div>
                    <button type="submit" class="ui button green" style="width:100%; margin-bottom: 10px;">Login</button>
                    <button type="button" class="ui button" style="width:100%" (click)="resetPassword()">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
