<div id="overview-content">
    <h1 class="ui header">Overview</h1>
    <div class="ui divider"></div>

    <div id="graphPanel">
        <div style="display: inline-block">
            <canvas baseChart
                    [data]="doughnutChartData"
                    [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType"
                    [options]="options"></canvas>
        </div>
        <div style="display: inline-block">
            <canvas baseChart
                    [data]="doughnutChartData"
                    [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType"
                    [options]="options"></canvas>
        </div>
        <div style="display: inline-block">
            <canvas baseChart
                    [data]="doughnutChartData"
                    [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType"
                    [options]="options">
            </canvas>
        </div>
    </div>


</div>
