.main-section {
    min-width: 800px;
    margin: auto;
    margin-top: 40px;
    display:inline-block;
}

#content-section {
    display:inline-block;

}

.item {
    cursor: pointer;
}

.item:hover {
    background-color: #78D1C3!important;
}

.item:active {
    border-left: solid 5px red;
    color: #31A795;
}
.item .active {
    border-left: solid 5px red;
    color: #31A795;
}
