.main-section {
    width: 1200px;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 70px;
}

.login {
    display:inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 70px;
}

#content-section {
    display:inline-block;
    vertical-align: top;
    margin-left: 40px;
    width:950px;
}


.menu-item:hover {

}

.menu-item {
    width:200px;
    height: 35px;
    padding-top: 10px!important;
    vertical-align: middle;
}

.menu-item.active {
    background-color: #3494bb;
    border-radius: 5px;
    color: #fff!important;
}

.search-bar {
    margin-top: 40px;
}

.avatar-box {
    background-color: #3494bb;
    height: 60px;
}

.selected {
    background-color: #3494bb;
    color: #fff!important;
}

